<!doctype html>
<html lang="en" ng-app="ToolingApp">
  <head>
    <title>Eurotech Tooling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation/foundation.css">  
    <link rel="stylesheet" href="/css/foundation/foundation-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" media="screen" rel="stylesheet" href="/css/responsive-tables.css" />
  </head>
  <body ng-controller="searchController">
    <div class="small-6 large-6 columns">
      <img src="/img/logo.png">
    </div>
    <div class="small-6 large-6 columns">
      <a class="float-right"><i class="fi-list menu"></i></a>
    </div>
    <div class="medium-6 medium-offset-6 large-5 large-offset-7 columns">
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="Search by name or product no.">
        <div class="input-group-button">
          <button class="button button-red"><i class="fi-magnifying-glass"></i></button>
        </div>
      </div>
    </div>
    <div class="large-3 medium-3 small-12 columns">
      <div class="callout red">
        <h5>Advanced Tool Search</h5>
        <hr>
        <form>
          <label>Make
            <select ng-model="searchParams.make">
              <option value="">Select the machine manufacturer</option>
              <option value="BIGLIA">Biglia</option>
            </select>
          </label>
          <label>Model
            <select ng-model="searchParams.model">
              <option value="">Select the machine model</option>
              <option value="B1200">B1200</option>
              <option value="B1250 16 STAZIONI">B1250 16 STAZIONI</option>
              <option value="B301">B301</option>
              <option value="B436">B436</option>
              <option value="B445">B445</option>
              <option value="B446">B446</option>
              <option value="B465">B465</option>
              <option value="B470">B470</option>
              <option value="B501 Y/S">B501 Y/S</option>
              <option value="B510">B510</option>
              <option value="B545">B545</option>
              <option value="B550">B550</option>
              <option value="B565">B565</option>
              <option value="B650">B650</option>
              <option value="B658">B658</option>
              <option value="B745">B745</option>
              <option value="B750 16 STAZIONI">B750 16 STAZIONI</option>
              <option value="B765">B765</option>
              <option value="BV210">BV210</option>
              <option value="BV315">BV315</option>
            </select>
          </label>
          <label>Category
            <select ng-model="searchParams.category">
              <option value="">Select the tool category</option>
              <option value="Driven">Driven</option>
              <option value="Static">Static</option>
              <option value="">All</option>
            </select>
          </label>
          <button class="button" ng-click="search()">Search</button>
        </form>
      </div>
    </div>
    <div ng-view class="large-9 medium-9 small-12 columns view"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/what-input.min.js"></script>
    <script src="/js/foundation.js"></script>
    <script src="/js/responsive-tables.js"></script>
    <script>
      $(document).ready(function() {
        $(document).foundation();
      })
    </script>
    <script src="https://code.angularjs.org/1.4.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/searchController.js"></script>
    <script src="/js/toolController.js"></script>
    <script src="/js/searchFactory.js"></script>
  </body>
</html>