<div class="row row_white">
    <form class="small-12 columns row_white">
        <div ng-repeat="(name, value) in tool">
            <label ng-bind="name" class="description"></label>
            <input type="text" ng-model="tool[name]"/>
        </div>
        <button class="button red" ng-click="save()">Save</button>
    </form>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78849224-1', 'auto');
    ga('send', 'pageview');

</script>