<div id="tool_results">
    <div class="result" ng-repeat="tool in tools">
        <div class="large-2 medium-3 small-4 columns">
            <img style="margin-bottom: 10px" src="https://googledrive.com/host/0BwbUYqYtCCqmaTQwZTdva2FzeDA/{{tool['Main image file']}}" onerror="if (this.src != '/img/error.jpg') this.src = '/img/error.jpg';">
        </div>
        <div class="large-10 medium-9 small-8 columns">
            <h4 class="description" ng-bind="tool['Description (EN)']"></h4>
            <p class="description"><i class="fi-book"></i> Catalogue Page: <span class="description" ng-bind="tool['Catalogue page']"></span></p>
            <button class="button button red" ng-click="show(tool['Catalogue page'])">View</button>
        </div>
        <hr style="max-width: 100rem">
    </div>
</div>