h1, h2, h3, h4, h5, h6, p, label, span, a, button {
   color: white !important;
}

body {
    padding-top: 30px;
    background: #181a1c;
}

.red {
    background: #981000 !important;
    color: white;
}

.red label {
    color: white;
}

.menu {
    font-size: 50px;
    position: relative;
    top: -20px;
}

.button-red {
    background: #981000 !important;
}

.view {
    background-color: #fff !important;
    /*border-right: 10px black solid;*/
    /*border-left: 10px black solid;*/
}

.description {
    color: black !important;
}

.link {
    color: #981000 !important;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; 
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}
    
#em {
    width:1em;
    height:1em;
    overflow:hidden; 
    visibility:hidden;
}

/*#right-menu {*/
/*    position: fixed;*/
/*    right: 0px;*/
/*    top: 0px;*/
/*    height: 100%;*/
/*    width: 25%;*/
/*    background-color: black;*/
/*    z-index: 99;*/
/*}*/

#menu-list {
    text-align: center;
}

#menu-list li {
    list-style-type: none;
}

#menu-list a {
    padding: 8px 8px 8px 32px;
    text-decoration: none !important;
    font-size: 32px;
    color: #981000 !important;
    display: block;
    transition: .3s;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}